# AWS variables
aws_region                 = "us-east-1"
aws_profile                = "fillme"
aws_instance_ami           = "ami-0565af6e282977273"
aws_instance_type          = "m5.2xlarge"
shared_svcs_account_number = "fillme"
# Network layout
public_ip    = "true"
alb_internal = "false"
route53_zone = "fillme"
# Database setup
database_storage        = "50"
database_instance_class = "db.m4.2xlarge"
database_multi_az       = "true"
# Set to 1 if you want a second PTFE instance, else 0
create_second_instance    = "0"
namespace                 = "fillme"
ssh_key_name              = "fillme"
vpc_id                    = "fillme"
ptfe_subnet_ids           = "fillme,fillme..." # in format "subnet-1,subnet-2" (no space)
db_subnet_ids             = "fillme,fillme..." # in format "subnet-1,subnet-2" (no space)
alb_subnet_ids            = "fillme,fillme..." # in format "subnet-1,subnet-2" (no space)
ssl_certificate_arn       = "fillme"
owner                     = ""
ttl                       = ""
source_bucket_name        = "fillme"
ptfe_license              = "fillme"
linux                     = "ubuntu"
ptfe_admin_password       = "fillme"
hostname                  = "fillme"
enc_password              = "fillme"
extra_no_proxy            = ""
pg_dbname                 = "fillme"
pg_extra_params           = ""
pg_password               = "fillme"
pg_user                   = "fillme"
s3_bucket                 = "fillme"
s3_region                 = "us-east-1"
s3_sse_kms_key_id         = "fillme"
operational_mode          = "online"
create_first_user_and_org = "true"
initial_admin_username    = "fillme"
initial_admin_email       = "fillme"
initial_admin_password    = "fillme"
initial_org_name          = "fillme"
initial_org_email         = "fillme"
# EB legacy account connectivity
eb_prod_priv_cidrs  = "fillme"
eb_stage_priv_cidrs = "fillme"
eb_qa_priv_cidrs    = "fillme"
